@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Space+Mono&display=swap');
html {
  background-image: url(assets/90sdesk.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fccbeb;
  cursor: none;
}
.yakbak {
  background-image: url(assets/yakbak.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20%;
  height: 70%;
  position: fixed;
  right: 20%;
  bottom: -20%;
  transform: rotate(10deg);
}
#say {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 24.5%;
  right: 2%;
  background-color: transparent;
  cursor: none;
  border: none;
}
#say:hover {
  background-color: red;
}
#say:active {
  background-color: orange;
}
#play {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 34%;
  right: -9%;
  background-color: transparent;
  cursor: none;
  border: none;
}
#play:hover {
  background-color: red;
}
#play:active {
  background-color: orange;
}
.pointer {
  background-image: url(assets/cursorhand.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 50%;
  height: 140%;
  position: fixed;
  left: 15%;
  bottom: 0%;
  cursor: none;
  transform: rotate(18deg);
}
.notepad {
  width: 20%;
  height: 70%;
  transform: rotate(-22deg);
  position: absolute;
  top: 25%;
  left: 43%;
  overflow: scroll;
}
select {
  font-family: 'Shadows Into Light';
  font-size: calc(14px + (28 - 16) * ((100vw - 200px) / (1600 - 300)));
  color: #d54bc4;
  width: 34%;
  height: 90%;
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: center;
}
select option:checked {
  background: linear-gradient(pink, pink);
  background-color: transparent !important; 
}
select option:checked:nth-child(1) {
  background: linear-gradient(#f0d8e6, #efd7e5);
}
select option:checked:nth-child(2) {
  background: linear-gradient(#f2d7e6, #f0d8e6);
}
select option:checked:nth-child(3) {
  background: linear-gradient(#f0d8e6, #efd7e5);
}
select option:checked:nth-child(4) {
  background: linear-gradient(#f1d6e5, #efd7e5);
}
select option:checked:nth-child(5) {
  background: linear-gradient(#f0d8e6, #f1d6e5);
}
select option:checked:nth-child(6) {
  background: linear-gradient(#edd1e0, #eac7db);
}
select option:checked:nth-child(7) {
  background: linear-gradient(#edc7dc, #e9bbd5);
}
select option:checked:nth-child(8) {
  background: linear-gradient(#ebbbd5, #e6b1cd);
}
select option:checked:nth-child(9) {
  background: linear-gradient(#e7aece, #e8a6ca);
}
select option:checked:nth-child(10) {
  background: linear-gradient(#e5a4c6, #e69ec6);
}
select option:hover {
  text-decoration: #acd129 underline;
}
/* .text {
  font-family: 'Space Mono';
  font-size: 90%;
  background-color: transparent;
  width: 13.5%;
  height: 11%;
  position: fixed;
  right: 21%;
  top: 17%;
  transform: rotate(42deg);
  outline: none;
  border: solid #cf48c0 3px;
} */
.speech {
  font-family: 'Space Mono';
  font-size: 90%;
  background-color: transparent;
  width: 13.5%;
  height: 11%;
  position: fixed;
  right: 21%;
  top: 17%;
  transform: rotate(42deg);
  outline: none;
  z-index: +1;
  overflow: scroll;
}
