html {
  background-image: url(assets/90sdesk.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fccbeb;
}
.yakbak {
  background-image: url(assets/yakbak.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20%;
  height: 70%;
  position: fixed;
  right: 25%;
  bottom: 0%;
}
.pointer {
  background-image: url(assets/cursorhand.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 50%;
  height: 140%;
  position: fixed;
  left: 15%;
  bottom: 0%;
  cursor: none;
  transform: rotate(18deg);
}

