@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
html {
  background-image: url(assets/90sdesk.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #fccbeb;
  /* cursor: none; */
}
.yakbak {
  background-image: url(assets/yakbak.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 20%;
  height: 70%;
  position: fixed;
  right: 25%;
  bottom: 0%;
}
#say {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 24.5%;
  right: 2%;
  background-color: transparent;
  cursor: none;
  border: none;
}
#say:hover {
  background-color: red;
}
#say:active {
  background-color: orange;
}
#play {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  position: relative;
  top: 34%;
  right: -9%;
  background-color: transparent;
  cursor: none;
  border: none;
}
#play:hover {
  background-color: red;
}
#play:active {
  background-color: orange;
}
.pointer {
  background-image: url(assets/cursorhand.png);
  background-size: 60%;
  background-repeat: no-repeat;
  width: 50%;
  height: 140%;
  position: fixed;
  left: 15%;
  bottom: 0%;
  cursor: none;
  transform: rotate(18deg);
}
.notepad {
  width: 20%;
  height: 70%;
  transform: rotate(-22deg);
  position: fixed;
  top: 22%;
  left: 38%;
}
select {
  font-family: 'Shadows Into Light';
  font-size: 1.5em;
  color: #4452bd;
  width: 70%;
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: right;
}

